*{margin: 0; padding: 0}

.header {
    min-height: 95px;
    background-color: #2A2D32;
    width: 100%;
    margin: 0 auto;
}

.wrapper {
    width: 95%;
    margin: 0 auto;
}

@font-face{
    font-family: 'droid';
    src: url(../fonts/DroidSans-Bold.ttf);
}
@font-face{
    font-family: 'quicksand';
    src: url(../fonts/Quicksand-Bold.ttf);
}
@font-face{
    font-family: 'ard';
    src: url(../fonts/ARDECODE.ttf);    
}

.logo {
    color: white;
    float: left;
    width: 40%;
    min-height: 70px;
    margin: 15px 0;
    text-align: left;
    padding-top: 10px;
    font-family: droid;
    font-size: 40px;
}


.menu {
    font-family: droid;
}
.menu ul{
}
.menu ul li{
    
    float: left;
    margin: 40px 0px;
    list-style: none;
}
.menu ul li a{
    color: white;
    text-decoration: none;
    padding: 38px 28px;
}
.menu ul li a:hover{ 
    background-color: black;
    border-top:4px solid yellow;
}


.slider {
    min-height: 460px;
    background-color: skyblue;
     width: 100%;
    margin: 0 auto;
    font-family: droid;
    text-align: center;
    padding: 100px 0px;
    color: white;
    line-height: 120px;
    font-size: 30px;
    
}

.gr{
    float: left;
    margin: 0px 20px;
}

.book {
min-height: 500px;
    background-color: #F3F3F3;
     width: 100%;
    margin: 0 auto;
}

.txt{
    font-family: quicksand;
    text-align: center;
    font-size: 20px;
    padding-top: 80px;
    color: dimgrey

}

.golf {
}

.room {
    min-height: 800px;
     width: 100%;
    margin: 0 auto;
      background-image: url(../photos/background.png);
}

.singleitem {
    min-height: 300px;
    width: 30%;
    float: left;
    margin:30px 10px;
    text-align: center;
    
}

.city {
    min-height: 200px;
    background-color: #E7CB2C;
     width: 100%;
    margin: 0 auto;
}

.located {
    font-family: droid;
    font-size: 30px;
    float: left;
    width: 70%;
    color: white;
    line-height: 50px;
    padding: 40px 0;
}

.guy img{
float: right; 
}

.footer {
    min-height: 365px;
    background-color: #333333;
     width: 100%;
    margin: 0 auto;
}

.about {
    min-height: 300px;
    width: 22%;
    float: left;
    margin: 10px 1%;
    color: white;
    padding: 5px 0px;
}
.about p{
    color: lightgray;
}

.about form input{
    border-radius: 5px;
    border: 1px solid black;
    background: #333333;
    height: 20px;
}
